$white: 		#EFF1F0; /* white bg */
$bg:		#FCFCFC;
$color1: 	#D7BE98; /* Light text */
$color2:	#5F3659; /* Purple */

$color3:	#666666; /* Dark text */
$bg2:		#FBFCFA; /* white bg */

$xs-max:		767px; 
$sm-min:		768px;
$sm-max:		991px;
$md-min:		992px; 
$md-max:		1199px;
$lg-min:		1200px; 

$container-sm:	750px;
$container-md:	970px;
$container-lg:	1170px;

$nb-columns:	12;
$grid-padding:	10px;